<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mi lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="Ingresa una tarea...." 
      name="task" [(ngModel)]="task"></ion-input>
    <ion-button (click)="addTask()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
